<section class="commonSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="profileHeading">
                    <h1 class="commonHeading">Profile</h1>
                    <p class="profileCenterTxt">I'm a creative FRONTEND web developer </p>
                </div>
            </div>
            <div
                class="col-md-12 col-lg-4 col-xl-4 d-flex justify-content-center flex-column align-items-lg-start align-items-center">
                <h2 class="subHeading">About me</h2>
                <p class="para">Experienced Front End Web Developer specializing in HTML, CSS, Javascript and Angular. I
                    am skilled in building user friendly websites and applications. </p>
            </div>
            <div class="col-md-12 col-lg-4 col-xl-4 d-flex align-items-center justify-content-center mb-3">
                <div class="profilePic">
                    <img src="./assets/img/banner1.jpeg">
                </div>
            </div>
            <div
                class="col-md-12 col-lg-4 col-xl-4 d-flex justify-content-center flex-column align-items-center align-items-lg-start">
                <h2 class="subHeading">Details</h2>
                <div class="d-flex flex-column align-items-lg-start align-items-center">
                    <div class="d-flex align-items-center gap-2">
                        <h3 class="commonMiniHead m-0">Name:</h3>
                        <p class="para m-0">Mahesh Kumar</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <h3 class="commonMiniHead m-0">Email:</h3>
                        <p class="para m-0">{{'iammahesh062@gmail.com'}}</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <h3 class="commonMiniHead m-0">Location:</h3>
                        <p class="para m-0">Panchkula, Haryana, India</p>
                    </div>
                    <div class="socialBlock">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>