<section class="commonSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="profileHeading">
                    <h1 class="commonHeading">Profile</h1>
                    <p class="profileCenterTxt">I'm a creative Web Developer </p>
                </div>
            </div>
            <div
                class="col-md-12 col-lg-4 col-xl-4 d-flex justify-content-center flex-column align-items-lg-start align-items-center">
                <h2 class="subHeading">About me</h2>
                <p class="para">I am an experienced Web Developer with over 2+ years of experience in building
                    responsive and user-friendly web applications. I work with HTML, CSS, JavaScript (ES6+), Tailwind
                    CSS, Bootstrap, Angular, and React.js to create fast and modern Single Page Applications (SPAs).
                    I also have hands-on experience with API integration, and good knowledge of Node.js, Express.js, and
                    MongoDB. I focus on clean UI, performance, and scalable solutions.</p>
            </div>
            <div class="col-md-12 col-lg-4 col-xl-4 d-flex align-items-center justify-content-center mb-3">
                <div class="profilePic">
                    <img src="./assets/img/profileImg1.png">
                </div>
            </div>
            <div
                class="col-md-12 col-lg-4 col-xl-4 d-flex justify-content-center flex-column align-items-center align-items-lg-start">
                <h2 class="subHeading">Details</h2>
                <div class="d-flex flex-column align-items-lg-start align-items-center">
                    <div class="d-flex align-items-center gap-2">
                        <h3 class="commonMiniHead m-0">Name:</h3>
                        <p class="para m-0">Mahesh Kumar</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <h3 class="commonMiniHead m-0">Email:</h3>
                        <p class="para m-0">{{'iammahesh062@gmail.com'}}</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <h3 class="commonMiniHead m-0">Location:</h3>
                        <p class="para m-0">Panchkula, Haryana, India</p>
                    </div>
                    <div class="socialBlock">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>