<header>
    <div class="container">
        <div class="headerContainer">
            <div class="brand">
                <a routerLink="profile"><img class="logo" [src]="logoPath"></a>
            </div>
            <nav class="navbar" [class.mobileWidth]="mobileWidthToggle">
                <ul class="menuList">
                    <li (click)="closeMenuRightbar()" class="menuItem"><a routerLinkActive="active"
                            routerLink="profile">Profile</a></li>
                    <li (click)="closeMenuRightbar()" class="menuItem"><a routerLinkActive="active"
                            routerLink="skill">Skills</a></li>
                    <li (click)="closeMenuRightbar()" class="menuItem"><a routerLinkActive="active"
                            routerLink="project">Projects</a></li>
                    <li (click)="closeMenuRightbar()" class="menuItem"><a routerLinkActive="active"
                            href="./assets/Mahesh-Cv.pdf" target="_blank">Resume</a></li>
                    <li class="menuItem" (click)="closeMenuRightbar()">
                        <button mat-mini-fab (click)="changeTheme()">
                            @if(isDarkMode){
                            <mat-icon>wb_sunny</mat-icon>
                            }
                            @else{
                            <mat-icon>nightlight</mat-icon>

                            }
                        </button>
                    </li>
                </ul>
                <div class="mobileBtn" (click)="menuToggle()">
                    <mat-icon class="menuOpen">menu</mat-icon>
                    <mat-icon class="menuClose">close</mat-icon>
                </div>
            </nav>

        </div>
    </div>
</header>