.skillBlock {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .skillItem {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px var(--cardBg) !important;
        min-width: 200px;
        min-height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all 0.3s ease-in-out;
        background-color: var(--parimeryColor);
        cursor: pointer;
        border: var(--cardBorder);
        position: relative;
        transition: transform 0.3s, box-shadow 0.3s;

        img {
            width: 100%;
            transition: all 0.3s ease-in-out;
        }

        ::ng-deep {
            span.mdc-button__label {
                width: 100% !important;
            }
        }
    }

}