.skillBlock {
    display: grid;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 25px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

    .skillItem {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px var(--cardBg) !important;
        min-width: 150px;
        min-height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all 0.3s ease-in-out;
        background-color: var(--parimeryColor);
        cursor: pointer;
        border: var(--cardBorder);
        position: relative;
        transition: transform 0.3s, box-shadow 0.3s;

        img {
            width: 120px;
            transition: all 0.3s ease-in-out;
        }

        ::ng-deep {
            span.mdc-button__label {
                width: 100% !important;
            }
        }
    }

}

@media(max-width:991px) {

    .skillItem {
        min-width: 120px !important;
        min-height: 120px !important;

        img {
            width: 90px !important;
            transition: all 0.3s ease-in-out;
        }
    }
}

@media(max-width:767px) {
    .skillItem {
        min-width: 80px !important;
        min-height: 80px !important;

        img {
            width: 60px !important;
            transition: all 0.3s ease-in-out;
        }
    }
}

@media(max-width:576px) {
    .skillBlock {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    ::ng-deep {

        .mat-mdc-row,
        .mdc-data-table__content {
            font-size: 12px !important;
        }

        .mdc-data-table__cell,
        .mdc-data-table__header-cell {
            padding: 0 2px !important;
        }
    }
}