<section class="commonSection">
    <div class="container">
        <h1 class="commonHeading mb-4">My Top Skills</h1>
        <div class="row justify-content-center">
            <div class="skillBlock">
                <div class="skillItem">
                    <img src="./assets/img/icons8-html-5.svg" alt="html">
                </div>
                <div class="skillItem">
                    <img src="./assets/img/icons8-css3.svg" alt="css">
                </div>

                <div class="skillItem">
                    <img src="./assets/img/bootstrap.svg" alt="bootstrap">
                </div>
                <div class="skillItem">
                    <img src="./assets/img/icons8-javascript.svg" alt="js">
                </div>
                <div class="skillItem">
                    <img src="./assets/img/jquery.svg" alt="jquery">
                </div>

                <div class="skillItem">
                    <img src="./assets/img/angularjs.svg" alt="angularjs">
                </div>
            </div>
        </div>
    </div>
</section>